<?xml version="1.0"?>
<config>
    <modules>
        <Ct_Addressformat>
            <version>0.1.0</version>
        </Ct_Addressformat>
    </modules>
    <frontend>
        <routers>
            <addressformat>
                <use>standard</use>
                <args>
                    <module>Ct_Addressformat</module>
                    <frontName>addressformat</frontName>
                </args>
            </addressformat>
        </routers>
        <layout>
            <updates>
                <addressformat>
                    <file>addressformat.xml</file>
                </addressformat>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<addressformat>
				<use>admin</use>
				<args>
					<module>Ct_Addressformat</module>
					<frontName>addressformat</frontName>
				</args>
			</addressformat>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<addressformat module="addressformat">
				<title>Addressformat</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="addressformat">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>addressformat/adminhtml_addressformat</action>
					</items>
				</children>
			</addressformat>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ct_Addressformat>
							<title>Addressformat Module</title>
							<sort_order>10</sort_order>
						</Ct_Addressformat>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<addressformat>
					<file>addressformat.xml</file>
				</addressformat>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <addressformat>
                <class>Ct_Addressformat_Model</class>
                <resourceModel>addressformat_mysql4</resourceModel>
            </addressformat>
            <addressformat_mysql4>
                <class>Ct_Addressformat_Model_Mysql4</class>
                <entities>
                    <addressformat>
                        <table>directory_country_format</table>
                    </addressformat>
                </entities>
            </addressformat_mysql4>
        </models>
        <resources>
            <addressformat_setup>
                <setup>
                    <module>Ct_Addressformat</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addressformat_setup>
            <addressformat_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addressformat_write>
            <addressformat_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addressformat_read>
        </resources>
        <blocks>
            <addressformat>
                <class>Ct_Addressformat_Block</class>
            </addressformat>
            <customer>
        <rewrite>
        <address_renderer_default>Ct_Addressformat_Block_Default</address_renderer_default>
        </rewrite>
        
        </customer>
        </blocks>
        <helpers>
            <addressformat>
                <class>Ct_Addressformat_Helper</class>
            </addressformat>
        </helpers>
        
    </global>
</config>